﻿@model OpheliasOasis.ViewModels.PrintBillPageViewModel

<div>
    <table class="table table-borderless table-light text-left">
        <thead class="thead-light">
            <tr>
                <th scope="col">Invoice</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    <h6>Guest Name:   </h6>
                    @Model.lastName
                    <text>, </text>
                    @Model.firstName

                </td>
                <td scope="row" >
                    <h6>Reservation Type:   </h6>
                    @Model.resType
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <h6>Room Number:    </h6>
                    @Model.room
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <h6>
                        Date:  
                    </h6>
                </td>
                <td>
                    <h6>
                        Rate:   
                    </h6>
                </td>
            </tr>
            @foreach(var myItem in Model.resDayList)
            {
                <tr>
                    <td scope="row">
                        @myItem.date.ToShortDateString()
                    </td>
                    <td>
                        @myItem.baseRate.ToString("F")
                    </td>
                </tr>
            }
            <tr>
                <td scope="row" align="right">
                    <h6>Penalty Charges:    </h6>
                    @Model.charge
                </td>
            </tr>
            <tr>
                <td scope="row" align="right">
                    <h6>Type Mltiplier</h6>
                    @Model.multiplier
                </td>
            </tr>
            <tr>
                <td scope="row" align="right">
                    <h6>Total:   </h6>
                    @Model.sumPrice
                </td>
            </tr>
        </tbody>
    </table>

</div>
