﻿@model OpheliasOasis.ViewModels.PrintBillPageViewModel

<br />
<div>
    @Html.DropDownListFor(model => model.resID, Model.CurrentReserve as SelectList, "--Select Reservation--", new { @class = "form-control", @id = "reservationBillList" })
    <br />
    @*
    @if (Model.firstName != "")
    {  }
        <table id="billTabl" class="table table-borderless table-light text-left">
        <thead class="thead-light">
            <tr>
                <th scope="col">Guest Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    @Model.firstName
                    @Model.lastName
                </td>
            </tr>
        </tbody>
    </table>
    *@
    
    

</div>
