﻿@model OpheliasOasis.ViewModels.CreditCardPageViewModel

    <div>

        @using (Html.BeginForm("SaveCreditCard", "Hotel", FormMethod.Post))
        {

            @Html.HiddenFor(model => model.gID)
            @Html.HiddenFor(model => model.cID)
            <p>@Model.firstName @Model.lastName (@Model.email)</p>
            <label for="name">
                Name on Card:
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder = "Name", @value = Model.name })
            </label>
            <label for="number">
                Card Number:
                @Html.TextBoxFor(model => model.number, new { @class = "form-control", @placeholder = "Credit Card Number", @value = Model.number })
            </label>
            <label for="month">
                Month:
                @Html.TextBoxFor(model => model.month, new { @class = "form-control", @placeholder = "Month", @value = Model.month })
            </label>
            <label for="year">
                Year:
                @Html.TextBoxFor(model => model.year, new { @class = "form-control", @placeholder = "Year", @value = Model.year })
            </label>
            <label for="securityCode">
                Security Code:
                @Html.TextBoxFor(model => model.securityCode, new { @class = "form-control", @placeholder = "Security Code", @value = Model.securityCode })
            </label>

            <input type="submit" value="Submit" class="btn btn-block btn-primary" />

        }

        <br /><br />
        <a href="/Hotel/CreditCard" class="btn btn-info" role="button">Back</a>

    </div>

    <style>
        label {
            display: block;
        }
    </style>
