﻿@model OpheliasOasis.ViewModels.RatesPageViewModel

<div>

    @using (Html.BeginForm("EditRate", "Hotel", FormMethod.Post))
    {

        @Html.HiddenFor(model=>model.rateDate)
        <label for="rate">
            Rate:
            @Html.TextBoxFor(model => model.rate, new { @class = "form-control", @placeholder = "Rate", @value = Model.rate })
        </label>
    
        <input class="form-control" id="rateDate" name="rateDate" placeholder="Rate Date" type="text" value="@Model.rateDate.Date" disabled>

        <br />
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />

    }

    <br /><br />
    <a href="/Hotel/Rates" class="btn btn-info" role="button">Back</a>

</div>

<style>
    label {
        display: block;
    }
</style>
