﻿@model OpheliasOasis.ViewModels.ReservationPageViewModel

<div>

    @using (Html.BeginForm("EditRecord", "Hotel", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.ID)
        <h3>Guest Information</h3>
        <div class="form-row">
            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @placeholder = "First Name", @value = Model.firstName })
            &nbsp;&nbsp;
            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @placeholder = "Last Name", @value = Model.lastName })
        </div>
        <br />
        <div class="form-row">
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email", @value = Model.email })
        </div>
        <br />
        <h3>Reservation Information</h3>
        <div class="form-row">
            @Html.TextBoxFor(model => model.checkInDate, new { @class = "form-control", @placeholder = "Checkin Date", @value = Model.checkInDate })
            &nbsp;&nbsp;
            @Html.TextBoxFor(model => model.checkOutDate, new { @class = "form-control", @placeholder = "Checkout Date", @value = Model.checkOutDate })
        </div>
        <br />
        <div class="form-row">
            @Html.TextBoxFor(model => model.arrivalDate, new { @class = "form-control", @placeholder = "Arrival Date", @value = Model.arrivalDate })
            &nbsp;&nbsp;
            @Html.TextBoxFor(model => model.leaveDate, new { @class = "form-control", @placeholder = "Exit Date", @value = Model.leaveDate })
        </div>
        <br />
        <div class="form-row">
            @Html.TextBoxFor(model => model.room, new { @class = "form-control", @placeholder = "RoomNumber", @value = Model.room })
        </div>
        <br />
        <div class="form-row">
            &nbsp;
            <label>
                Cancelled:
            </label>
            @Html.CheckBoxFor(model => model.isCancelled, new { @class = "form-control", @value = Model.isCancelled })
            &nbsp;&nbsp;
            <label>
                Tardy:
            </label>
            @Html.CheckBoxFor(model => model.noShow, new { @class = "form-control", @value = Model.noShow })
        </div>
        <br />
        <div class="form-row">
            @Html.TextBoxFor(model => model.paidDate, new { @class = "form-control", @placeholder = "Date of Payment", @value = Model.paidDate })
            &nbsp;&nbsp;
            <input class="form-control" id="resType" name="resType" placeholder="Reservation Type" type="text" value="@Model.resType" disabled />

        </div>
        <br />

        <input type="submit" value="edit" class="btn btn-block btn-primary" />

    }

</div>

