﻿@model OpheliasOasis.ViewModels.RatesPageViewModel

    <div>

        @using (Html.BeginForm("SaveNewRate", "Hotel", FormMethod.Post))
        {

            <label for="rate">
                Date:
                @Html.TextBoxFor(model => model.rate, new { @class = "form-control", @placeholder = "Rate" })
            </label>
            <label for="rateDate">
                Rate:
                @Html.TextBoxFor(model => model.rateDate.Date, new { @class = "form-control", @placeholder = "Date" })
            </label>

            <input type="submit" value="Submit" class="btn btn-block btn-primary" />

        }

        <br /><br />
        <a href="/Hotel/Rates" class="btn btn-info" role="button">Back</a>

    </div>

<style>
    label {
        display: block;
    }
</style>
