﻿@model OpheliasOasis.ViewModels.ReservationPageViewModel

@{

}

<div>

    @using (Html.BeginForm("SaveRecord", "Hotel", FormMethod.Post))
    {
        <h3>Guest Information</h3>
        <div class="form-row">
            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @placeholder = "First Name" })
            &nbsp;&nbsp;
            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @placeholder = "Last Name" })
        </div>
        <br />
        <div class="form-row">
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email" })
        </div>
        <br />
        <h3>Reservation Information</h3>
        <div class="form-row">
            @Html.TextBoxFor(model => model.checkInDate, new { @class = "form-control", @placeholder = "Checkin Date", @value = Model.checkInDate })
            &nbsp;&nbsp;
            @Html.TextBoxFor(model => model.checkOutDate, new { @class = "form-control", @placeholder = "Checkout Date", @value = Model.checkOutDate })
        </div>
        <br />
        <div class="form-row">
            @Html.DropDownListFor(model => model.typeID, Model.resListItems as SelectList, "--Choose Reservation Type--", new { @class = "form-control", @id = "otherID" })
            &nbsp;&nbsp;
            <input disabled type="text" class="form-control" id="totCost" value="$@Model.cost.ToString("F")"/>
        </div>
        <br />
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />

    }

</div>


@Scripts.Render("~/Scripts/ReservationForm.js")