﻿@model OpheliasOasis.ViewModels.CreditCardPageViewModel
@{
    ViewBag.Title = "Credit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 20px 0;">
    Credit Card
    <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
</h2>

<div>

    <div id="findGuest">
        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email", @id = "findEmail"})
        <br />
        <button class="btn btn-outline-dark" id="findGuestBtn">Find Guest</button>
    </div>
    

    <div id="editCC"></div>

</div>


