﻿@model IEnumerable<OpheliasOasis.ViewModels.DailyArrivalsReportPageViewModel>
@{
    ViewBag.Title = "Daily Arrivals Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="padding: 20px 0;">
        Daily Arrivals Report
        <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
    </h2>

<div>

    <table class="table table-striped table-dark text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Guest Name</th>
                <th scope="col">Reservation Type</th>
                <th scope="col">Room</th>
                <th scope="col">Departure Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td  scope="row">@item.firstName @item.lastName</td>
                <td>@item.resType</td>
                <td>@item.room</td>
                <td>@item.checkOutDate</td>
            </tr>
            }
        </tbody>
    </table>

</div>


