﻿@model IEnumerable<OpheliasOasis.ViewModels.DailyOccupancyReportPageViewModel>
@{
    ViewBag.Title = "Daily Occupancy Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="padding: 20px 0;">
        Daily Occupancy Report
        <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
    </h2>

<div>

    <table class="table table-striped table-dark  text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Departure Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.room</td>
                    @if (@item.checkOutDate == DateTime.Today) {
                        <td scope="row">*@item.firstName @item.lastName</td>
                    } else {
                        <td scope="row">@item.firstName @item.lastName</td>
                    }
                    <td>@item.checkOutDate</td>
                </tr>
            }
        </tbody>
    </table>

</div>


