﻿@model IEnumerable<OpheliasOasis.Models.getExpectedOccupancy_Result>
@{
    ViewBag.Title = "Expected Occupancy Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="padding: 20px 0;">
        Expected Occupancy Report
        <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
    </h2>

<div>

    <table class="table table-striped table-dark text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Total Guests</th>
                <th scope="col">Prepaid</th>
                <th scope="col">Incentive</th>
                <th scope="col">60 Day</th>
                <th scope="col">Conventional</th>
            </tr>
        </thead>
        <tbody>
            @{int sum = 0; }
            @foreach (var item in Model)
            {
                sum += (int)item.count;
                <tr>
                    <td>@item.theDate</td>
                    <td>@item.count</td>
                    <td>@item.prepaid</td>
                    <td>@item.incentive</td>
                    <td>@item.day60</td>
                    <td>@item.conventional</td>
                </tr>
            }
        </tbody>
    </table>
    @{int average = (sum % 30) / 30; sum = sum / 30; }
    <h4>Average Occupancy Rate: @sum.@average</h4>

</div>


