﻿@model OpheliasOasis.ViewModels.EmailPageViewModel
@{
    ViewBag.Title = "Generate 60 Day Advance Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="padding: 20px 0;">
        Generate 60 Day Advance Emails
        <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
    </h2>

<div>
    <a href="/Hotel/InsertPenalties" class="btn btn-info" role="button">Generate 60 Day Advance Emails</a>
    <br /><br />

</div>


