﻿@model OpheliasOasis.ViewModels.GeneratePenaltiesPageViewModel
@{
    ViewBag.Title = "Generate Penalties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="padding: 20px 0;">
        Generate Penalties
        <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
    </h2>

<div>
    <a href="/Hotel/InsertPenalties" class="btn btn-info" role="button">Generate Penalties</a>
    <br /><br />
    <table class="table table-striped table-dark text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Reservation ID</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Check-In Date</th>
                <th scope="col">Check-Out Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.reservations)
            {
            <tr>
                <td  scope="row"> @item.ID</td>
                <td>
                    @Model.guests.SingleOrDefault(g => g.ID == item.guestID).firstName
                    @Model.guests.SingleOrDefault(g => g.ID == item.guestID).lastName
                </td>
                <td>@item.checkInDate</td>
                <td>@item.checkOutDate</td>
            </tr>
            }
        </tbody>
    </table>

</div>


