﻿@model IEnumerable<OpheliasOasis.Models.getIncentiveReport_Result>
@{
    ViewBag.Title = "Incentive Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 20px 0;">
    Incentive Report
    <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
</h2>

<div>

    <table class="table table-striped table-dark text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Incentive Income Lost</th>
            </tr>
        </thead>
        <tbody>
            @{int sum = 0; }
            @foreach (var item in Model)
            {
                sum += (int)item.sum;
                <tr>
                    <td>@item.theDate</td>
                    <td>@item.sum</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Total Incentive Income Lost: @sum</h4>
    @{int average = (sum % 30) / 30; sum = sum / 30; }
    <h4>Average Incentive Income Lost: @sum.@average</h4>

</div>


