﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h2 style="padding: 25px 0;">Ophelia's Oasis Homepage</h2>
</header>
<hr style="border:2px solid black"/>

<h3 style="padding: 20px 0;">Hotel Operations</h3>
<div class="form-inline">
    <a href="/Hotel/Reservation" class="btn btn-info" role="button">Reservations/Guests</a>
    <a href="/Hotel/Rates" class="btn btn-info" role="button">Add/Change Base Rates</a>
    <a href="/Hotel/GeneratePenalties" class="btn btn-info" role="button">Generate Penalty Charges</a>
    <a href="/Hotel/GenerateEmail" class="btn btn-info" role="button">Generate 60 Days Advance Emails</a>
    <a href="/Hotel/CreditCard" class="btn btn-info" role="button">Add/Edit Credit Card</a>
    <a href="/Hotel/PrintBill" class="btn btn-info" role="button">Print Bill</a>
</div>

<h3 style="padding: 20px 0;">Reports</h3>
<div class="form-inline">
    <a href="/Hotel/ExpectedOccupancyReport" class="btn btn-info" role="button">Expected Occupancy</a>
    <a href="/Hotel/ExpectedRoomIncomeReport" class="btn btn-info" role="button">Expected Room Income</a>
    <a href="/Hotel/IncentiveReport" class="btn btn-info" role="button">Incentive</a>
    <a href="/Hotel/DailyArrivalsReport" class="btn btn-info" role="button">Daily Arrivals</a>
    <a href="/Hotel/DailyOccupancyReport" class="btn btn-info" role="button">Daily Occupancy</a>
</div>



<style>
    .btn {
        margin: 10px 5px;
    }
</style>
