﻿@model OpheliasOasis.ViewModels.LoginPageViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div>

    @using (Html.BeginForm("LoginUser", "Hotel", FormMethod.Post))
    {
        <span style="color: @Model.messageColor">@Model.message</span>
        <br />

        @Html.DropDownListFor(model => model.empID, Model.employeeSelect as SelectList, "--Choose User--", new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(model => model.password, new { @class = "form-control", @placeholder = "Password" })

        <br />

        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
    }

</div>

