﻿@model OpheliasOasis.ViewModels.PrintBillPageViewModel
@{
    ViewBag.Title = "Print Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 20px 0;" id="heading">
    Print Bill
    <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
</h2>


<div>
    @Html.TextBoxFor(model => model.resID, new { @class = "form-control", @id="thisResID" })
    <br /><br />
    <button id="runBillGen" class="btn btn-outline-dark">Generate Bill</button>
    <button id="printBill" class="btn btn-outline-dark" style="display:none">Print</button>
    <br />

    @*probably should make a search bar instead*@
</div>

<div id="billReservation"></div>
<div id="billTable" class="d-print-table"></div>