﻿@model OpheliasOasis.ViewModels.RatesPageViewModel
@{
    ViewBag.Title = "Rates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 20px 0;">
    Rates
    <a href="/Hotel" class="btn btn-info float-right" role="button">Homepage</a>
</h2>

<div>

    <div>
        <button class="btn btn-outline-dark" id="loadNewRate">New Rate</button>
        <button class="btn btn-outline-dark" id="loadEditRate">Edit Existing Rate</button>
    </div>
    <br /><br />

    <div id="findRate" hidden>
        @Html.TextBoxFor(model => model.rateDate, new { @class = "form-control", @placeholder = "Date", @id = "findDate"})
        <br />
        <button class="btn btn-outline-dark" id="findRateDate">Find Date</button>
    </div>
    

    <div id="newRate"></div>
    <div id="editRate"></div>

</div>


