﻿@model OpheliasOasis.ViewModels.ReservationPageViewModel
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation</h2>
<br /><br />




<div><button class="btn btn-outline-dark" id="loadNewReservation">New Reservation</button> <button class="btn btn-outline-dark" id="loadEditReservation">Edit Existing Reservation</button></div>
<br /><br />
<div id="resFilter" style="display:none">@Html.DropDownListFor(model => model.ID, Model.CurrentReserve as SelectList, "--Select Reservation Number--", new { @class = "form-control", @id="reservationList"})</div>
<br />
<div id="newReservation"></div>
<div id="editReservation"></div>
